doctype html
html(lang="en")
  head
    title Resume - Bachelor of Information Technology (Website Development)
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="/css/styles.css")
  body
    header
      h1 Allen Carlo S. Serrano
      h2 Bachelor of Science in Information Technology (Website Development)
      p Email: allencarlo@email.com
      p Phone: 132-456-7890
    section
      h2 Experience
      article
        h3 Web Developer, XYZ Company
        p.date January 2025 - Present
        p.description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu felis libero. Sed euismod sapien ac orci fringilla, non pellentesque lorem sollicitudin. Aenean malesuada, mi id sodales rutrum, ante nulla volutpat nisl, eget ullamcorper justo tortor vel magna.
      article
        h3 Front-End Developer, ABC Agency
        p.date May 2024 - December 2025
        p.description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu felis libero. Sed euismod sapien ac orci fringilla, non pellentesque lorem sollicitudin. Aenean malesuada, mi id sodales rutrum, ante nulla volutpat nisl, eget ullamcorper justo tortor vel magna.
    section
      h2 Education
      article
        h3 Bachelor of Science in Information Technology (Website Development), Holy Angel University
        p.date September 2021 - May 2024
        p.description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu felis libero. Sed euismod sapien ac orci fringilla, non pellentesque lorem sollicitudin. Aenean malesuada, mi id sodales rutrum, ante nulla volutpat nisl, eget ullamcorper justo tortor vel magna.
    section
      h2 Skills
      ul
        li HTML/CSS
        li JavaScript
        li Node.js
        li Java
        li Python
